.img-height {
  height: 60vh;
  object-fit: cover;
}

.title {
  padding: 80px 20px;
  text-align: center;
}
.title h1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #EC6036;
}

.bg-color {
  background-color: #EC6036;
}

.grid {
  margin: 0;
  display: flex;
  flex-wrap: wrap
}

.grid-item {
  width: 30%;
  padding: 5px;          /* remove spacing */
}

.grid-item img {
  display: block;
  width: 100%;
  height: auto;
}
